<!DOCTYPE html>
<html lang=”en”>
<% include ../partials/header %>

<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Vice Footwear</h1>
        <p>By Nhung Luu</p>
    </div>
</div>

<% include ../partials/nav %>

<% products.myProducts.forEach(function (eachProduct) {%>
<% if(eachProduct.id == product) {%>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-body"><img src="../public/images/<%= eachProduct.photo %>" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-danger">
                <div class="panel-heading"><%= eachProduct.name %></div>
                <div class="panel-body">
                    Price: USD.<%= eachProduct.price %> </br>
                    Stock: <%= eachProduct.stock %>
                </div>
                <div class="panel-footer"><%= eachProduct.summary %></div>
            </div>
        </div>
    </div>
</div><br>

<% };});%>
<% include ../partials/footer %>

</body>
</html>